
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	
}


:root{
	--blue: #287bff;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
	--cinza: gray;
	--excluir: red;
	--editar: #17b5d5;
	--copiar: gold;
	--salvar: green;
	
}

body{
	min-height: 100vh;
	overflow-x: hidden;
	font-size: 0.8em;
}




/*  MENU LATERAL 
                                       */
/* ====================================== */

.container{
	position: relative;
	width: 100%;
}





.navigation{
	position: fixed;
	width: 260px;
	height: 100vh;
	background: var(--blue);
	border-left: 8px solid var(--blue);
	transition: 0.5s;
	overflow: hidden;

}



.navigation.active{
	width: 56px;
	
}



.navigation ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}




.navigation ul li{
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 22px;
	border-bottom-left-radius: 22px;
}



.navigation ul li:hover, .navigation ul li.hovered{
	background: var(--white);

}


.navigation ul li:nth-child(1){
	margin-bottom: 32px;
	pointer-events: none;
	font-size: 1rem;
}


.navigation ul li a{
	position: relative;
	//margin-left: 14px;
	display: flex;
	width: 100%;
	text-decoration: none;
	color: var(--white);

}



.navigation .icon{
	display: flex;

}



.navigation ul li:hover a, .navigation ul li.hovered a{	
	color: var(--blue);
	

}



.navigation ul li:hover a img, .navigation ul li.hovered a img{	
	filter: invert(0);
	

}

.navigation ul li a .icon{
	position: relative;
	//display: block;
	min-width: 60px;
	height: 48px;
	line-height: 32px;
	text-align: center;
	

}


.navigation ul li a .icon img{
	font-size: 1.75em;
	margin-left: 14px;

}



.navigation ul li a .title{
	position: relative;
	//display: block;
	padding: 0 8px;
	height: 48px;
	line-height: 48px;
	text-align: start;
	white-space: nowrap;

}







/* CURVA OUTSIDE */

.navigation ul li:hover a::before, .navigation ul li.hovered a::before{
	content: '';
	position: absolute;
	right: 0;
	top: -40px;
	width: 40px;
	height: 40px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 30px 30px 0 8px var(--white);
	pointer-events: none;


}


.navigation ul li:hover a::after, .navigation ul li.hovered a::after{
	content: '';
	position: absolute;
	right: 0;
	bottom: -40px;
	width: 40px;
	height: 40px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 30px -30px 0 8px var(--white);
	pointer-events: none;


}



/*     IMAGENS SVG  - lançadas diretorio:iconions
================================================*/
.icon img{
	width: 16px;
	filter: invert(1);

}




/*   LOGO APLLE   */
/* ==============================================*/
.navigation ul li:nth-child(1) svg{
	width: 25px;
	margin-left: 5px;

}

.navigation ul li:nth-child(1) svg path{
	fill: white;
	stroke:none;
	

}




/*     IMAGEN svg DASHBOAR   - no codigo HTML  

é necessário retirar a propriedade styel="" de dentro da tag <path> 
assim é possivel fazer alterar nas cores de fundo de das linhas da figura svg

======================================================*/ 

.navigation ul li svg{
	width: 16px;
	margin-left: 18px;
}

.navigation ul li svg path, .navigation ul li svg line, .navigation ul li svg circle{
	fill:none;
	stroke:white;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:32px;

}


.navigation ul li:hover svg path, .navigation ul li.hovered svg path{
	fill:none;
	stroke:#287bff;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:32px;

}


.navigation ul li svg polyline, .navigation ul li svg rect{
	fill:none;
	stroke:white;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:32px;

}


.navigation ul li:hover svg polyline, .navigation ul li.hovered svg polyline,
.navigation ul li:hover svg rect, .navigation ul li.hovered svg rect,
.navigation ul li:hover svg line, .navigation ul li.hovered svg line,
.navigation ul li:hover svg circle, .navigation ul li.hovered svg circle{
	fill:none;
	stroke:var(--blue);
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:32px;

}







/* ===================================================


         AREA PRINCIPAL     MENU TOPBAR topo          */

/* ====================================== */

.main{
	position: absolute;
	left: 260px;
	width: calc(100% - 260px);
	min-height: 100vh;
	background: var(--white);
	transition: 0.5s;
		
}


.main.active{
	width: calc(100% - 56px);
	left: 56px;	

}






.topbar .search svg{
	width:20px;
	
}


.topbar svg line{
	fill:none;
	stroke:#222;
	stroke-linecap:round;
	stroke-miterlimit:10;
	stroke-width:32px;

}



.topbar svg path{ 
	fill:none;
	stroke:#000;
	stroke-miterlimit:10;
	stroke-width:32px;

}



.topbar{
	width: 100%;
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8px;

}




.toggle{
	position: relative;
	top: 0;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.5em;
	cursor: pointer;
}



.search{
	position: relative;
	width: 320px;
	margin: 0 10px;
}


.search label{
	display: flex;
	position: relative;
	width: 100%;
}


.search label input{
	width: 100%;
	height: 30px;
	border-radius: 30px;
	padding: 4px 18px;
	padding-left: 30px;
	outline: none;
	border: 1px solid var(--black2);

}

.search label svg{
	position: absolute;
	top: 8px;
	left: 5px;
	//font-size: 1.2em;
}

.user{
	position: relative;
	min-width: 45px;
	height: 45px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;

}


.user img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}




/* 
	CARTÕES DE STATUS
==========================================

*/


.cardBox svg{
	width: 1em;
	
	
}


.iconBx svg rect,
.iconBx svg path, 
.iconBx svg circle, 
.iconBx svg polyline,
.iconBx svg line{
	fill: none;
    	stroke: var(--black2);
    	stroke-linecap: round;
    	stroke-linejoin: round;
    	stroke-width: 32px;
	
	
}


.cardBox {
	position: relative;
	width: 100%;
	padding: 0px 10px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 12px;
}


.cardBox .card{
	position: relative;
	background: var(--white);
	padding: 18px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: 4px 2px 23px rgba(0,0,0,0.10);

}


.cardBox .card .numbers{
	position: relative;
	font-weight: 500;
	font-size: 2.3em;
	color: var(--blue);
}


.cardBox .card .cardName{
	color: var(--black2);
	font-size: 1.1em;
	margin-top: 5px;

}


.cardBox .card .iconBx{
	font-size: 3.5em;
	color: var(--black2);
	
}


.cardBox .card:hover{
	background: var(--blue);

}



.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx{
	color: var(--white);
	
}


.cardBox .card:hover .iconBx svg rect,
.cardBox .card:hover .iconBx svg path, 
.cardBox .card:hover .iconBx svg circle, 
.cardBox .card:hover .iconBx svg polyline,
.cardBox .card:hover .iconBx svg line{
	fill: none;
    	stroke: var(--white);
    	stroke-linecap: round;
    	stroke-linejoin: round;
    	stroke-width: 32px;
	
	
}




/* 
	  TABELA DE DADOS - GRID - area principal
==========================================

*/


.details{
	position:relative;
	width: 100%;
	padding: 10px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-gap: 15px;
	//margin-top: 5px;
}


.details .area01_container{
	position: relative;
	display: grid;
	min-height: 400px;
	background: var(--white);
	box-shadow: 0 7px 25px rgba(0,0,0,0.10);
	border-radius: 10px;
	padding: 12px;
}



.contasCabecalho{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}


.contasCabecalho h2{
	font-weight: 600;
	color:var(--blue);

}


.btn{
	position: relative;
	padding: 5px 10px;
	background: var(--blue);
	text-decoration: none;
	color: var(--white);
	border-radius: 6px;

}


.details table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;

}

.details table thead td{
	font-weight: 600;

}


.details .contasMes table tr{
	color: var(--black1);
	border-bottom: 1px solid rgba(0,0,0,0.1);

}


.details .contasMes table tr:last-child{
	border-bottom: none;

}

.details .contasMes table tbody tr:hover{
	background: var(--blue);
	color: var(--white);

}


.details .contasMes table tr td{
	padding: 7px;

}


.details .contasMes table tr td:last-child{
	text-align: end;
	
}


.details .contasMes table tr td:nth-child(2){
	text-align: end;

}

.details .contasMes table tr td:nth-child(3){
	text-align: end;

}


.status.pago {
	padding: 1px 3px;
	background: #8de02c;
	color: var(--white);
	border-radius: 3px;
	font-size: 11px;
	font-weight: 500;

}



.status.avencer{
	padding: 1px 3px;
	background: orange;
	color: var(--white);
	border-radius: 3px;
	font-size: 11px;
	font-weight: 500;

}
	

.status.vencido{
	padding: 1px 3px;
	background: red;
	color: var(--white);
	border-radius: 3px;
	font-size: 11px;
	font-weight: 500;

}

.status.previsto {
	padding: 1px 3px;
	background: deepskyblue;
	color: var(--white);
	border-radius: 3px;
	font-size: 11px;
	font-weight: 500;

}




.details .recentCustomers{
	position: relative;
	//display: grid;
	min-height: 400px;
	padding: 12px;
	background: var(--white);
	box-shadow: 0 7px 25px rgba(0,0,0,0.10);
	border-radius: 10px;
	//grid-template-rows: 0.1fr;
	
}


.recentCustomers .imgBx{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 10%;
	overflow: hidden;

}


.recentCustomers .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//object-fit: cover;

}

.recentCustomers table tr:hover{
	background: var(--blue);
	color: var(--white);

}


.recentCustomers table tr td{
	padding: 2px 6px;

}

.recentCurstomers table tr td h4{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2em;
}

.recentCustomers table tr td h4 span{
	font-size: 14px;
	color: var(--black2);

}





.btn.excluir{
	background: var(--excluir);
	border: 2px solid var(--excluir);

}



.btn.editar{
	background: var(--editar);
	border: 2px solid var(--editar);

}


/* ====================================

	DESIGNER RESPONSIVIDADE 


===================================*/

@media (max-width: 991px){


	.navigation{
		left: -260px;		

	}


	.navigation.active{
		width: 260px;
		left: 0;
	}


	.main{
		width: 100%;
		left: 0;
	}


	.main.active{
		left: 260px;
	}

	
	.cardBox{
		grid-template-columns: repeat(2,1fr);

	}
	
}




@media (max-width:768px){

	.details{
		grid-template-columns: repeat(1,1fr);

	}

	.contasMes{
		overflow-x: auto;
	}
	
	.status.inprogress{
		white-space: nowrap;
	}
}



/*  ===============================================

	RESPONSIVIDADE PARA CELULAR 


 ================================================*/

@media (max-width: 480px){

	/* =========================
		MENU CLICADO: LI

	============================ */
	
	.container.target .navigation.active ul li:nth-child(1) a{
		display:flex;
		flex-flow: row wrap;
		

	}

  

	.btn_slide_menu{
		display: none;
		border: none;
  		padding: 2px;
    		margin-top: 2px;
		width: 100%;
		background: none;
    		position: absolute;
		top: 30px;
		
		
	}


	.container.target .navigation{
		height: 9vh;	

	}



	.container.target .main.active{
		left: 0;
		width: inherit;
	

	}


	.container.target .cardBox.active{
		display: none;	

	}
		

	/* ====================== */ 







	.cardBox{
		grid-template-columns: repeat(1,1fr);
	
	}
	

	.contasCabecalho h2{
		font-size: 15px;

	}


	.user{
		min-width: 35px;
		height: 35px;
	}


	.navigation{
		width: 100%;
		left:-100%;
		z-index: 1000;
	}


	.navigation.active{
		width: 100%;
		left: 0;

	}


	.toggle{
		z-index: 1001;
		
	}

	
	.main.active .toggle svg line{
		color: white;
		fill:none;
		stroke: var(--white);
		stroke-linecap:round;
		stroke-miterlimit:10;
		stroke-width:32px;
		width: 40px;
	
	}


	.main.active .toggle{
		position: fixed;
		top: 10px;
		right: 0;
		left: initial;
		width: 30px;
	}





	/* CURVA OUTSIDE */
	.navigation ul li:hover a::before, .navigation ul li.hovered a::before{
		content: '';
		position: absolute;
		right: 0;
		top: -40px;
		width: 40px;
		height: 40px;
		background: transparent;
		border-radius: 0%;
		box-shadow: 30px 30px 0 8px var(--white);
		pointer-events: none;


	}

	/* CURVA OUTSIDE */
	.navigation ul li:hover a::after, .navigation ul li.hovered a::after{
		content: '';
		position: absolute;
		right: 0;
		bottom: -40px;
		width: 40px;
		height: 40px;
		background: transparent;
		border-radius:0%;
		box-shadow: 30px -30px 0 8px var(--white);
		pointer-events: none;


	}

}